/* :root {
    --primary-color: #f0f1f1;
    --secondary-color: #f0f1f1;
    --tertiary-color: #f0f1f1;
    --quaternary-color: #f0f1f1;
    --quinary-color: #f0f1f1;
    --senary-color: #f0f1f1;
    --septenary-color: #f0f1f1;
    --octonary-color: #f0f1f1;
    --nonary-color: #f0f1f1;
    --denary-color: #f0f1f1;
    --primary-text-color: #000;
    --secondary-text-color: #000;
    --tertiary-text-color: #000;
    --quaternary-text-color: #000;
    --quinary-text-color: #000;
    --senary-text-color: #000;
    --septenary-text-color: #000;
    --octonary-text-color: #000;
    --nonary-text-color: #000;
    --denary-text-color: #000;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Tagalog Doctrina 1593';
    src: url('TagDoc93.ttf') format('truetype');
}


body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.custom-font {
    font-family: 'Tagalog Doctrina 1593';
    font-size: 2rem;
    color: #000;
}

ul.sidenav.sidenav-fixed li.logo {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 16.5px;
}

span.custom-font-logo {
    background-color: #f0f1f1;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.sidenav {
    width: 15rem;
    box-shadow: none;
    border-right: 1px solid rgb(229, 229, 229);
    overflow: hidden;
}

.sidenav li>a.navig {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

.sidenav li>a:hover {
    background-color: transparent;
    color: hsl(150, 1.2%, 58%);
}

.row {
    height: 30.333%;
}

.sidenav li>a.row-text-title:hover {
    color: inherit;
    color: transparent;
}

.sidenav li.row-text-title {
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Inter Regular", "Inter Regular Placeholder", sans-serif;
}

.sidenav li.row {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.row a.row-menu {
    color: linear-gradient(270deg, rgb(125, 127, 130) 0%, rgb(167, 167, 167) 100%);
    font-weight: 350;
    height: 2.05em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row li.row-text-title a {
    height: 2.25em;
    color: rgb(172, 170, 170);
    /* color: linear-gradient(270deg, rgb(125, 127, 130) 0%, rgb(167, 167, 167) 100%); */
}

li a.second-row-menu-second {
    margin-bottom: 1.5em;
}

main {
    flex: 1 0 auto;
}

.main-container {
    margin: 0 auto 0 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.heading-cont {
    /* display: flex; */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: min-content;
    position: relative;
    overflow: hidden;
    flex: none;
    width: 100%;
}

.main-container .hehehe {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1 0 0px;
    flex-wrap: nowrap;
    gap: 6px;
    height: 37px;
    justify-content: flex-start;
    position: relative;
    width: 1px;
    padding: 42px 0px;
}

.main-container .hihihi {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    height: min-content;
    /* justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content; */
}

.main-container .hahaha {
    white-space: inherit;
    width: auto;
    position: relative;
    height: auto;
    flex: none;
    display: flex;
    gap: 50px;
}

h3.headtext-land {
    margin: 0;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: -0.01em;
    line-height: 28px;
    
}

span.headtext-land {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    color: #3b3d41;
}
