/* :root {
    --primary-color: #f0f1f1;
    --secondary-color: #f0f1f1;
    --tertiary-color: #f0f1f1;
    --quaternary-color: #f0f1f1;
    --quinary-color: #f0f1f1;
    --senary-color: #f0f1f1;
    --septenary-color: #f0f1f1;
    --octonary-color: #f0f1f1;
    --nonary-color: #f0f1f1;
    --denary-color: #f0f1f1;
    --primary-text-color: #000;
    --secondary-text-color: #000;
    --tertiary-text-color: #000;
    --quaternary-text-color: #000;
    --quinary-text-color: #000;
    --senary-text-color: #000;
    --septenary-text-color: #000;
    --octonary-text-color: #000;
    --nonary-text-color: #000;
    --denary-text-color: #000;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Tagalog Doctrina 1593';
    src: url('TagDoc93.ttf') format('truetype');
}


body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.custom-font {
    font-family: 'Tagalog Doctrina 1593';
    font-size: 2rem;
    color: #000;
}

ul.sidenav.sidenav-fixed li.logo {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 16.5px;
}

span.custom-font {
    background-color: #f0f1f1;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.sidenav {
    width: 15rem;
    box-shadow: none;
    border-right: 1px solid rgb(229, 229, 229);
    overflow: hidden;
}

.sidenav li>a.navig {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

.sidenav li>a:hover {
    background-color: transparent;
    color: hsl(150, 1.2%, 58%);
}

.row {
    height: 30.333%;
}

.sidenav li>a.row-text-title:hover {
    color: inherit;
    color: transparent;
}

.sidenav li.row-text-title {
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Inter Regular", "Inter Regular Placeholder", sans-serif;
}

.sidenav li.row {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.row a.row-menu {
    color: #000;
    font-weight: 350;
    height: 2.05em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row li.row-text-title a {
    height: 2.25em;
    color: rgb(172, 170, 170);
}

li a.second-row-menu-second {
    margin-bottom: 1.5em;
}

main {
    flex: 1 0 auto;
}